.root {
    -fx-font-family: "Big Caslon";
    -fx-font-size: 15px;
    -fx-font-weight: bold;
    -fx-text-fill: white;
}

.container{
    -fx-background-image: url("images/background-library.jpg");
    -fx-background-color:black;
    -fx-background-position: right;
    -fx-background-size: cover;
}

#header{
    -fx-font-size: 24px;
    -fx-font-weight: bold;
    -fx-text-fill: white;
}

.button{
    -fx-font-szie: 17px;
    -fx-font-weight: bold;
    -fx-text-fill: #ffffff;
    -fx-background-color: #c4112d
}

.button:hover {
    -fx-text-fill: #c4112d;
    -fx-background-color: #ffffff;
    -fx-cursor: hand;
}

.label{
    -fx-text-fill: white;
}

#headingBookTitle{
    -fx-font-size: 24px;
}


/*Detail Page Styles*/
#cardBackground{
    -fx-background-color: #656565 ;
    -fx-border-radius: 15;
    -fx-border-width: 6;
    -fx-border-insets: -6;
    -fx-border-color: #404040;
    -fx-padding: 2px;
}



/*Loading indicator Style*/

.circleindicator-message{
    -fx-font-size: 60px;
    -fx-font-weight: bold;

}

.circleindicator-container  {
    circleindicator-color: #009383;
    -fx-padding: 5.0;
    -fx-background-color: #a8b8d0;
}
.circleindicator-container > .circleindicator-label {
    -fx-font-weight: bold;
    -fx-font-size: 4em;
    -fx-text-fill: circleindicator-color;
    -fx-padding: 5.0;
}